<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="nl" th:text="#{lang.nl}"></option>
    <option value="fr" th:text="#{lang.fr}"></option>
</select>

<body>
<ul>
    <li><a href="/tasks">All tasks</a></li>
    <li><a href="/tasks/new">Make new task</a></li>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('index?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>